.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin: 16px;
}

.formulario input {
    margin-bottom: 16px;
}
.formulario button {
    margin-right: 8px;
}